@import "../variables";

.categories {
    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 13px 30px;
            border-radius: 30px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.1s ease-in-out;
            @include noselect();

            &:hover {
                background-color: darken(#f9f9f9, 2%) !important;
            }

            &:active {
                background-color: darken(#f9f9f9, 5%) !important;
            }

            &.active {
                background-color: #282828 !important;
                color: #fff !important;
                box-shadow: -5px -5px 5px #0000FF, 5px 5px 7px #FFFF00;
            }
        }
    }
}
