@import "../variables";

.good-block {
    width: 280px;
    text-align: center;
    // margin-bottom: 65px;

    &-wrapper{
        display: flex;
        justify-content: center;
    }

    &__img-container {
        width: 280px;
        height: 280px;
        border: 2px solid #b6b6b6;
        box-shadow: -5px -5px 9px #ffffff73, 5px 5px 7px #5e687949;

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            align-self: center;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1%;
        margin: 20px 0;
        height: 35px; //Maybe delete later
    }

    &__selector {
        display: flex;
        background-color: #f3f3f3;
        border-radius: 10px;
        flex-direction: column;
        padding: 6px;

        ul {
            display: flex;
            flex: 1;

            &:first-of-type {
                margin-bottom: 6px;
            }

            li {
                padding: 8px;
                flex: 1;
                cursor: pointer;
                font-weight: 600;
                font-size: 14px;
                @include noselect();
                &.active {
                    background: #ffffff;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                    border-radius: 5px;
                    cursor: auto;
                }
            }
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: 33% 50%;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        .seller {
            grid-column: 1 / span 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 5px;
            .name {
                font-style: italic;
                color: #a6a5a5;
            }
        }
    }

    &__price {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.015em;
        text-align: left;
    }
}
